<!DOCTYPE html>
<html>
   <body>
   
      <a href = "{{ url_for('view_index') }}">Index</a>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "lab1">Laboratorio 1: </label><br>
         <input type = "text" name = "lab1" placeholder = "{{n.lab1}}" /><br>
         
        <label for = "apellido">Laboratorio 2: </label><br>
         <input type = "text" name = "lab2" placeholder = "{{n.lab2}}" /><br>
        
            
        <label for = "apellido">Parcial 1: </label><br>
         <input type = "text" name = "par1" placeholder = "{{n.par1}}" /><br>       

        

        <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
