<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('mostrar_amos') }}">Amos y Perros - Flask SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}<br>
      {%- endfor %}
		
      <h3>Amos (<a href = "{{ url_for('nuevo_amo') }}">Crear Amo</a>)</h3> 
    

      <table>
         <thead>
            <tr>
               <th>Nombre</th>
               <th>Perros</th>
               <th>Agregar</th>
            </tr>
         </thead>
         
         <tbody>
            {% for amo in amos %}
               <tr>
                  <td>{{ amo.nombre }}</td>
                  <td><a href = "{{ url_for('perros', amo = amo.id) }}">Perros</a></td>
                  <td><a href = "/perros/{{amo.id}}">Agregar perro</a></td>                  
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>