<!DOCTYPE html>
<html>
   <body>
   
      <a href = "{{ url_for('mostrar_amos') }}">Amos - Flask SQLAlchemy example</a>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{url_for('crear_perro', amo_id = amo)}}" method = "post">

         <label for = "nombre">Nombre</label><br>
         <input type = "text" name = "nombre" placeholder = "Nombre" /><br>

         <label for = "edad">Edad</label><br>
         <input type = "text" name = "edad" placeholder = "Edad" /><br>
                       
        <input type = "submit" value = "Enviar" />
      </form>
      
   </body>
</html>